body{
    background-color: bisque;
    background-image: url(../img/20200731_082206.jpg);

}
h1{
    text-indent: 5px; /*Tab, podendo o parágrafo começar em negativo ou positivo*/
    letter-spacing: -5px; /*Espaçamento de letras*/
    
}
#Aula, ul {
    text-align: center; /*Alinhamento do texto*/
    color: blueviolet;
}
.blue {
    color: blue;
}
.maiuscula {
    text-transform: uppercase; /*Meter o texto caps, todo caps, sem caps..etc*/

}
p{
    line-height: 3px; /*Espaçamento entre frases (linhas)*/
    word-spacing: 5px; /*Espaçamento de palavras*/
    font-size: 2em;
}
ul{
    text-shadow: 7px 4px 5px pink;
    font-weight: bolder;
    font-style: italic;
    display: inline-block;
}
.divv{
    text-align: center;
}

/*Para abreviar o Font mete-se todos os outros parâmetros seguidos com esta ordem: style, variant, weight, size e family*/